{% extends "bootstrap/base.html" %}

{{super()}}
{% block scripts %}
<script src="{{url_for('.static', filename='dashboard.js')}}"></script>
{% endblock %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block content %}

<body>

<div>
    <select id="db_list" name="db_list">
        <option value="" selected disabled hidden>Choose database</option>
        {% for x in db_list%}
            <option value="{{x}}">{{x}}</option>
        {% endfor %}
    </select>
    <select id="list1" name="list1">
        <option value="" selected disabled hidden>Choose database</option>
        {% for x in list1%}
            <option value="{{x}}">{{x}}</option>
        {% endfor %}
    </select>
    <select id="list2" name="list2">
        <option value="" selected disabled hidden>Choose database</option>
        {% for x in list2%}
            <option value="{{x}}">{{x}}</option>
        {% endfor %}
    </select>
        </select>
    <select id="list3" name="list3">
        <option value="" selected disabled hidden>Choose database</option>
        {% for x in list3%}
            <option value="{{x}}">{{x}}</option>
        {% endfor %}
    </select>
<br>
    Quantity<input type="number" name="quantity" id="quantity">
</div>

<div id="myTable" > </div>

<div >
    <button class="" onclick="Javascript:addTable()">Search</button>
</div>
</body>
{% endblock %}

<script>

</script>