
<!DOCTYPE html>
<html>
<title>USER</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="{{url_for('dashboard')}}" class="w3-bar-item w3-button w3-hover-red">Test Data Search</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-red">Test Data Reset</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-red">Configure</a>
</div>

<div style="margin-left:15%">
<!-- First Grid -->
<div class="w3-row-padding w3-padding-32 w3-container">
  <div class="w3-content">
      <h1>Claro Peru</h1>
      <br>
      <h1 align="left">Welcome Avik!</h1>
  </div>
</div>
</div>



<!-- Second Grid -->
<div class="w3-row-padding w3-padding w3-container" id="grid">
  <div class="w3-content">
    <div id="myTable" align="center">
          <h3 align="center" style="padding-left:20%">IMEI & ICCID currently in use</h3>
<div class="container">
    <div class="w3-padding floatLeft">
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-red">
           <th>RESET IMEI</th>
        <th>IMEI</th>
      </tr>
    </thead>
      <tbody>
      {% for x in imei_list%}
    <tr>
      <td><input type="checkbox" name="record1"></td>
      <td>{{x}}</td>
    </tr>
     {% endfor %}
  </tbody>
  </table>
        <br>
      <button type="button" class="w3-button w3-red reset1" >RESET IMEI</button>
    </div>

    <div class="w3-padding floatRight">
         <table class="w3-table-all w3-hoverable ">
    <thead>
      <tr class="w3-red">
        <th>RESET ICCID</th>
          <th>ICCID</th>
      </tr>
    </thead>
             <tbody>
      {% for x in iccid_list%}
    <tr>
        <td><input type="checkbox" name="record2"></td>
      <td>{{x}}</td>
    </tr>
     {% endfor %}
      </tbody>

  </table>
        <br>
<button type="button" class="w3-button w3-red reset2">RESET ICCID</button>
    </div>
</div>


    </div>
  </div>
</div>






<footer class="w3-container w3-padding-64 w3-center w3-opacity">
<p> <a href="{{url_for('logout')}}" style="padding-left:20%">Logout</a></p>
</footer>
</div>
</body>
</html>
<script type="text/javascript">
      $(".reset1").click(function(){
            $("table tbody").find('input[name="record1"]').each(function(){
            	if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });

    $(".reset2").click(function(){
            $("table tbody").find('input[name="record2"]').each(function(){
            	if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });
</script>

<style>
.floatLeft { width: 50%; float: left; }
.floatRight {width: 50%; float: right; }
.container { overflow: hidden; }
</style>